services:
  app:
    build:
      context: .
      dockerfile: Dockerfile-test
    volumes:
      - .:/app
    environment:
      WEATHER_API_URL: "https://api.weatherapi.com/v1/current.json"
      WEATHER_API_TIMEOUT: "5000"
      WEATHER_API_KEY: "X"
      CEP_API_URL: "https://viacep.com.br/ws/"
      CEP_API_TIMEOUT: "1000"
      PORT: "8080"
    command: ["go", "test", "./..."]
